  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Gillar du det?</h2>
              <a href="#" class="btn btn-default btn-xl wow tada">Rösta</a>
          </div>
      </div>
  </aside>
