<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Öldemokraterna!</h2>
                <hr class="light">
                <p class="text-faded">Vi har en vision för framtiden. Alla ska kunna leva ett bättre liv, känna frihet och framtidstro. Därför investerar vi i mer öl och  bättre bryggerier.</p>
                <a href="#" class="btn btn-default btn-xl">Redan glömt bort?</a>
            </div>
        </div>
    </div>
</section>
