<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Make Beer great again!</h1>
            <hr>
            <img width="300px" src="img/logotype.png">
            <p id="strokeme">När man inte subventionerar en god dryck sjunker glädjen på barerna. Sverige har idag en neutral ölproduktion, tack vare mikrobryggerier, som inte släpper bleköl.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Rädda ölsverige</a>
        </div>
    </div>
</header>
