<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Vår politik</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-beer wow bounceIn text-primary"></i>
                    <h3>Skatt</h3>
                    <p class="text-muted">Ja till skattefri öl – när ekonomin tillåter.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-flask wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Mikrobryggerier</h3>
                    <p class="text-muted">Sänkta arbetsgivaravgifter för mikrobryggerier.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-users wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Öldrickare</h3>
                    <p class="text-muted">Vi tror på människors egen förmåga att dricka god öl.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-box wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Leveranser</h3>
                    <p class="text-muted">Medborgarna måste lita på att leveranser av paket, brev och öl når fram det kan vi inte göra med PostNord, Öldemokraterna står för en avveckling av Postnord eftersom det inte gör någon skillnad.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-sun wow bounceIn text-primary" data-wow-delay=".4s"></i>
                    <h3>Mer tid</h3>
                    <p class="text-muted">Öldemokraterna arbetar aktivt för att slopa sommartid. Då sommartid endast medför en känsla av minneslucka.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-clock wow bounceIn text-primary" data-wow-delay=".5s"></i>
                    <h3>Enklare tid</h3>
                    <p class="text-muted">Vi värnar om användandet av decimaltid för att enklare kunna räkna på tid vid influensen av öl. </p>
                </div>
            </div>
        </div>
    </div>
</section>
